h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.columns {
  display: grid;
  grid-template-columns: auto auto;
}

ul {
  padding: 0;
}

li {
  display: block;
}

a {
  display: block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem 1rem; /* Ajuste de padding para hacerlo más compacto */
  text-decoration: none;
  margin: 0.1rem;
  text-align: left;
}

a:hover {
  background-color: black;
  color: white;
}

.badge {
  background-color: black;
  color: white;
  padding: 0.5rem;
}
