h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.columns {
  display: grid;
  grid-template-columns: auto auto;
}

ul {
  padding: 0;
}

li {
  display: block;
}

a {
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem 1rem; /* Ajuste de padding para hacerlo más compacto */
  text-decoration: none;
  margin: 0.1rem;
  text-align: left;
}

a:hover {
  background-color: black;
  color: white;
}

.badge {
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.delete {
  background-color: #dc3545; /* Color de fondo rojo */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 0.5rem; /* Ajuste de padding más compacto */
  margin-left: 0.5rem; /* Margen izquierdo para separar del nombre del héroe */
}

.delete:hover {
  background-color: #c82333; /* Color de fondo rojo más oscuro al hacer hover */
}
